version: '3'

volumes:
  local_postgres_data: {}
  local_postgres_data_backups: {}

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: shigoto_q_local_django
    container_name: django
    depends_on:
      - postgres
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - "8000:8000"
    command: /start
    links:
      - redis
  react: &react
    build:
      context: .
      dockerfile: ./compose/local/react/Dockerfile
    image: shigoto_q_local_react
    container_name: react
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - ./frontend:/app/frontend
    ports:
      - "3000:3000"
  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: shigoto_q_production_postgres
    container_name: postgres
    volumes:
      - local_postgres_data:/var/lib/postgresql/data:Z
      - local_postgres_data_backups:/backups:z
    ports:
      - "5432:5432"
    env_file:
      - ./.envs/.local/.postgres

  redis:
    image: redis:5.0
    container_name: redis

  celeryworker:
    <<: *django
    image: shigoto_q_local_celeryworker
    container_name: celeryworker
    depends_on:
      - redis
      - postgres
    ports: []
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: shigoto_q_local_celerybeat
    container_name: celerybeat
    depends_on:
      - redis
      - postgres
    ports: []
    command: /start-celerybeat
    
networks:
  shigoto:
    name: shigoto_network