.cron-main{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input{
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 250%;
    width: 100%;
    background-color: #8A2BE2;
    border: 1px solid #cccccc;
    border-radius: 0.6em;
    color: #ffffff;
    padding-top: 0.075rem;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}




.info-parts{
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;

}



.cron-part-inactive, .cron-part-active {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    margin-left: 30px;
}

.cron-part-active{
    color: #8A2BE2;
}

table, th {
    border: 1px solid #9e3ff8;
}

.title-info{
    font-family: Verdana, sans-serif;
    font-size: 25px;
    margin-bottom: 35px;
}

.title-sub-info{
    font-family: Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
}


td {
    width: 50%;
    text-align: left;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #9e3ff8;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
}

.options-table{
    margin-top: 40px;
    width: 35%;
}

.part-wrong {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    margin-left: 30px;
    font-weight: bold;
    color: red;
}

.attach-button {
    margin-top: 50px;
    background-color: #8A2BE2;
}